{% include "head.html" %}

     <div class="aboutBox text-center p-5 w-75 m-auto mt-5">
         <p> Cheffy is a recipe app that allows you to enter the ingredients you
             have on hand and to search for meals that can be made from them.<br><br>
             The motivation behind this application is to help you discover new recipes,
             and to reduce food waste by finding you ingredients that might otherwise go to waste.<br><br>
             In addition, you can save favorite recipes into your account or create a personal pantry that
             can help you enter ingredients more easily.<br><br>
             Come and enjoy Cheffy!
         </p>
     </div>