<!-- RETIRED -->



<div class="col-6">
    <div class="card mb-3 mt-1 rounded">
        <h1 class="card-header">Favorites <i class="bi bi-heart"></i>
        </h1>
        <div class="card-body">
            {% if recipes|length == 0 %}
            <h2>You have no saved favorites yet</h2>
            {% else %}
            <ul class="list-group d-flex flex-row flex-wrap">

                {% for recipe in recipes %}

                <li class="list-group-item" style="float:left; width:12rem;">
                    <a href="/recipe/{{result.id}}"><img src="{{recipe.image}}" alt="{{recipe.title}}"
                            style="max-height: 5rem; object-fit: contain; float: left;" /></a> {{recipe.title}}
                    <form action="/remove_recipe/{{recipe.id}}">
                        <button type="submit" class="btn">Remove?</button>
                        {% if message == True %}
                        Removed from favorites!
                        {% endif %}
                    </form>
                </li>
                {% endfor%}
            </ul>
            {% endif %}
        </div>
    </div>
</div>
</div>
{% include "foot.html" %}
