<!DOCTYPE html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cheffy</title>
</head>
<body>
    <header>
      <section class="intro-container">
          <h1 class="branding"><a href="/">Cheffy</a></h1>

        <nav>
          <ul class="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/login">Log In</a></li>
          </ul>
        </nav>
      </section>
    </header>