{% include "head.html" %}
<div class="row m-2">
    <div class="col-6">


        <form action="/recipe" class="searchBox p-2 rounded">
            <h1>Welcome to Cheffy</h1>
            <div class="mb-3">
                <label for="search" class="form-label">Search recipes by ingredients you have on hand!</label>
                <input type="text" class="form-control" id="search" placeholder="e.g. broccoli,mushroom"
                       name="ingredients">
                <div id="searchHelp" class="form-text">(Separate ingredients by comma, no spaces)</div>
            </div>


            <div class="options">
                <div class="diet-option">
                    <span>I am...</span>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="vegan" name="diet" value="vegan">
                        <label class="form-check-label" for="vegan">Vegan</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="vegetarian" name="diet" value="vegetarian">
                        <label class="form-check-label" for="vegetarian">Vegetarian</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="ketogenic" name="diet" value="ketogenic">
                        <label class="form-check-label" for="ketogenic">Ketogenic</label>
                    </div>
                </div>
                <div class="intolerances">
                    <span>I cannot eat...</span>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="gluten" name="intolerances" value="gluten">
                        <label class="form-check-label" for="gluten">Gluten</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="shellfish" name="intolerances"
                               value="shellfish">
                        <label class="form-check-label" for="shellfish">Shellfish</label>
                    </div>
                </div>

                <div class="search">
                    {% if session != {} %}
                    <span>Include pantry items in search...</span>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="usePantry" name="incPantry"
                                value="usePantry">
                            <label class="form-check-label" for="usePantry">Yes</label>
                        </div>
                    {% endif %}
                </div>

                <div class="search">
                    <span>Results must contain all ingredients...</span>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="allReq" name="searchType" value="allReq">
                        <label class="form-check-label" for="allReq">Yes</label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn">Search</button>
        </form>
    </div>

