{% include "head.html" %}

    <main>
        <section class="intro-container">
            <h1>Welcome to Cheffy</h1>
            <p style="margin-bottom:1px;">Search recipes by ingredients you have on hand!</p>
            <p style="font-size:12px;margin-top:5px;">(Separate ingredients by comma, no spaces)</p>
            <form action="/recipe">

                <div class="search-box">
                    <input type="text" placeholder="e.g. broccoli,mushroom" name="ingredients">
                    <button type="submit"><i class="fa fa-search"></i>Search</button>
                </div>
                <div class="options">
                    <div class="diet-option">
                        <span>I am...</span>

                        <input type="radio" id="vegan" name="diet" value="vegan" checked><label for="vegan">Vegan</label>

                        <input type="radio" id="vegetarian" name="diet" value="vegetarian"><label for="vegetarian">Vegetarian</label>

                        <input type="radio" id="ketogenic" name="diet" value="vegetarian"><label for="ketogenic">Ketogenic</label>

                        <input type="radio" id="all" name="diet" value="all"><label for="all">I eat all</label>
                    </div>
                    <div class="intolerances">
                        <span>I cannot eat...</span>
                        <input type="radio" id="gluten" name="intolerances" value="gluten"><label for="gluten">gluten</label>

                        <input type="radio" id="shellfish" name="intolerances" value="shellfish"><label for="shellfish">shellfish</label>

                        <input type="radio" id="no-intol" name="intolerances" value="no-intol" checked><label for="no-pref">No intolerances</label>
                    </div>
                </div>
            </form>

            <form action="/insertIngredient">
                            <p style="margin-bottom:1px;">Add available ingredients by name, quantity, and expiration date in the fields below:</p>
                <div class="search-box">
                    <input type="text" placeholder="e.g. carrots" name="ingredientName">
                    <input type="text" placeholder="e.g. 2-lbs" name="ingredientQuantity">
                    <input type="text" placeholder="e.g. 09/30/2021" name="expirationDate">
                    <button type="submit"><i class="fa fa-search"></i>Submit</button>
                </div>

            </form>
        </section>
    </main>

    {% include "foot.html" %}