{% include "index.html" %}

<div class="col-6">
    <div class="row searchResult">

         {% if results == [] %}

               <div class="text-center p-5 h5">
                Oops... No recipes found using the ingredients you entered.<br><br>Please try other ingredients!
               </div>

            {% else %}

            {% for result in results %}
            <div class="col-sm-6 mb-1">
                <div class="card m-1 h-100 rounded" style="width: 18rem; height:22rem">
                    <a href="/recipe/{{result.id}}"><img class="card-img-top" src="{{result.image}}"></a>
                    <div class="card-body">
                        <h5 class="card-title">{{result.title}}</h2>
                    </div>
                    <div class="card-footer">
                        <a href="/recipe/{{result.id}}" class="card-link"> See recipe... </a>
                    </div>
                </div>
            </div>

            {% endfor %}

        {% endif %}


    </div>
</div>
</div>

{% include "foot.html" %}