{% include "index.html" %}

<div class="col-md-6 col-sm-12">
    <div class="row searchResult pt-2">

         {% if results == [] %}

            <div class="text-center p-5 h5">
            Oops... No recipes found using the ingredients you entered.<br><br>Please try other ingredients!
            </div>

        {% elif results == ['blank'] %}
            <div class="text-center p-5 h5">
            Oops... You didn't enter any ingredients.<br><br>
            {% if session != {} %}
                Your pantry is empty too!
            {% endif %}
            </div>

        {% else %}

            {% for result in results %}
            <div class="col-sm-6 mb-1">
                <div class="card rounded h-100" style="height:22rem">
                    <a href="/recipe/{{result.id}}"><img class="card-img-top" src="{{result.image}}"></a>
                    <div class="card-body">
                        <h5 class="card-title">{{result.title}}</h5>
                    </div>
                    <div class="card-footer btn btn-secondary">
                        <a href="/recipe/{{result.id}}" class="card-link" style="color:black; text-decoration: none;"> See recipe... </a>
                    </div>
                </div>
            </div>

            {% endfor %}

        {% endif %}

        
    </div>
</div>
</div>

{% include "foot.html" %}