{% include "index.html" %}

<div class="col-md-6 col-sm-12">
    <div class="row searchResult">

         {% if results == [] %}

               <div class="text-center p-5 h5">
                Oops... No recipes found using the ingredients you entered.<br><br>Please try other ingredients!
               </div>

            {% else %}

            {% for result in results %}
            <div class="card rounded col-sm-6 mb-3 pb-3 border-bottom">
                    <a href="/recipe/{{result.id}}"><img class="card-img-top" src="{{result.image}}"></a>
                    <div class="card-body pb-1">
                        <h5 class="card-title">{{result.title}}</h5>
                    </div>
                    <div class="card-footer btn btn-secondary">
                        <a href="/recipe/{{result.id}}" class="card-link"> See recipe... </a>
                    </div>
            </div>

            {% endfor %}

        {% endif %}

        
    </div>
</div>
</div>

{% include "foot.html" %}